body{
  background-color: royalblue;
}
h1{
  font-weight: normal;
  color: white;
}
ul{
  padding-left: 2px;
  padding-right: 40px;
  list-style-type: none;
  background-color: white;
  border: solid;
}
p{
  margin-left: 110px;
  clear: both;
  width: 150px;
  border: solid;
  text-align: center;
  background-color: white;
}
.left {
  float: left;
  height: 175px;
  font-weight:bold;
}
.right {
  margin-left: 60px;
  float: left;
  height: 185px;
  position: relative;
  top: -10px;
}
